.back {
    position: absolute;
    right: 8%;
    top: -70px;
  }
  .single-page {
    position: relative;
    overflow: hidden;
  }
  .main-content{
    text-align: left;
  }

  .main-content p {
    margin: 10px 0 20px 0;
    color: grey;
  }
  .main-content .para p {
    margin-right: 10px;  
  }
  .main-content h1 {
    font-size: 30px;
  }
  .main-content img {
    width: 100%;
    height: auto;
  }
  
  .single-page .box {
    background-color: #31b675;
    padding: 30px;
    color: white;
    width: 100%;
  }
  .single-page .box h2 {
    font-size: 30px;
    font-weight: 500;
  }
  .single-page .box2 {
    margin-top: 40px;
    background: url("../../Assets/side-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 100%;
    position: relative;
    padding: 20px;
  }
  .single-page .box2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 180px;
    width: 100%;
  }
  .single-page p {
    font-size: 14px;
    line-height: 25px;
    color: gray;
  }
   .box2 p {
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 14px;
    line-height: 25px;
    color: white;
  }

  @media (max-width:992px) {
    .single-page .side-content{
      flex-basis: 50%;
    margin-left: 200px;
    width: 50%;
    margin-top: 30px;
    }
    .single-page .disc{
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width:768px) {
    .single-page .side-content{
      margin-left: auto;
      width: auto;
    }
  }
  @media screen and (max-width: 768px) {
    .single-page .flex {
      flex-direction: column;
    }
    .im{
      grid-template-columns: repeat(1, 1fr);
      margin-left: -12px;
    }
  }
